# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Python environment files
.env
*.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Installed packages
*.egg-info/
dist/
build/

# Pip dependency lock files
pip-log.txt

# Notebook output folders
*.nbconvert/

# pytest
.cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
